[submodule "aqa-client"]
	path = aqa-client
	url = https://github.com/aqaproject/aqa-client
[submodule "aqa-backend-nestjs"]
	path = aqa-backend-nestjs
	url = git@github.com:aqaproject/aqa-backend-nestjs.git
